# 1.2 Installation and Configuration

## 1.2.1 Software Requirements

While WebdriverIO is a Node.js based system, there are a few other tools needed to run the tests. You'll want:

- A recent version of Node.js (8+)
- A text-editor (I use [Sublime Text 3](https://www.sublimetext.com/3), but [Atom](https://atom.io/), [Webstorm](https://www.jetbrains.com/webstorm) and [VSCode](https://code.visualstudio.com/) are other great options)
- A terminal/command line tool (I use [iTerm](https://iterm2.com/) with [Oh My Zsh](https://ohmyz.sh/) thrown on top)
- A Webdriver-compliant browser for testing (Chrome or Firefox are great options)
- A 'driver' for the browser you want to test on (we'll cover this in detail in "Browsers and 'Driving' Them")

Optionally, you may also want to install [Java 8](https://java.com/en/download/). This will allow you to run [selenium-standalone](https://github.com/vvo/selenium-standalone), which gives you the ability to test on different browsers in the same test run (e.g. both Firefox AND Chrome). 

### Installing Node.js

There are many great tutorials for how to install Node.js on a variety of systems. A quick search should bring up many results should you need additional help with this installation.

Overall though, there are two common ways to install Node.js. 

#### Install via official site:

Go to [nodejs.org](https://nodejs.org/) and download the release labelled "Recommended For Most Users". This will start with an even number (e.g. 10.15.1). Be aware that releases starting with odd numbers (e.g. 11.10.0) are not supported long term, so while they may have the latest features, they will stop recieving support and updates after 6 months. For more information on this, have a read through [the Node.js release plan](https://github.com/nodejs/Release#release-plan).

#### Install via a 'version manager'

The main reason for using a version manager is "the future". In "the future", you're probably going to want to update your version of Node.js to a more recent release. While it's possible to manually uninstall the old version, then install the new one using the official site, it can be a little tedious to do so on a regular basis. 

With a version manager, it takes care of this for you. You simply ask for the Node.js version you want, and it does all the grunt work.

Two popular version managers are:

- [NVM](https://github.com/creationix/nvm) (this is what I use)
- [N](https://github.com/tj/n)

Installation instructions are on both of those sites, so I won't copy them over here (plus any copied instructions are likely to be out-of-date by the time you read this.)

### Getting Your Terminal Ready

As I mentioned, you'll need to know the basics of how to use a terminal/command prompt in order to take advantage of all the WebdriverIO has to offer.

All major Operating Systems provide a pre-installed terminal for you to use. These are:

- Windows 10: cmd.exe or Powershell
- Mac OSX: Terminal
- Linux: konsole, gnome-terminal, terminal or xterm

In the terminal of your choice, ensure you have Node.js installed correctly by running `node -v` in it. This should output the version number of Node.js that you have installed. If you see a message like `command not found: node`, then something went wrong with your installation and you'll need to debug it.

#### A Note for Windows Users

The commands you use in the default Windows terminal (cmd.exe) are different from what I'll be showing in my code samples. 

Some examples:

- Instead of using `ls` to print the contents of a directory, you need to use `dir`
- Windows uses a back slash `\` instead of a forward slash `/` for path commands (e.g. `node_modules\.bin\` versus `node_modules/.bin/`)
- Windows users are also required to enter `.\` before every function call that involes a path (e.g. `dir .\node_modules\.bin\` instead of `ls node_modules/.bin/`)
- The way you define environment variables is different (we'll go into detail on this later)

For a more comprehensive list of differences, [RedHat has put together a comparison chart](https://web.archive.org/web/20170715114407/https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Step_by_Step_Guide/ap-doslinux.html).

I'll try to provide the Windows equivalent the first time I introduce a command. However, if you'd like to stick with the commands that I use throughout the book, consider installing an alternative console. Here are some suggestions:

- [cmder](https://cmder.net/)
- [Microsoft Terminal](https://github.com/microsoft/terminal)
- [clink](http://mridgers.github.io/clink/)
- [ConEmu](https://conemu.github.io/)
- [Cygwin](https://www.cygwin.com/)

These terminals use bash-style commands, which is what I use in my examples.
